In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.signal import savgol_filter

In [2]:
import pandas as pd
import os

# Using double backslashes or raw string
file_path = r'C:\Users\Abdul\OneDrive - Chulalongkorn University\Data Basah\20240430_databasah_csv.csv'
data = pd.read_csv(file_path)
data.head()

C:\Users\Abdul\AppData\Local\Temp\ipykernel_26548\1770865426.py:6: DtypeWarning: Columns (3367,3369) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

,Datapoints,3225.795591,3226.297348,3226.799261,3227.30133,3227.803556,3228.305938,3228.808476,3229.311171,3229.814022,...,countrycode,countrytarget,provincecode,yymm,yy,mm,ftirrun_yyyy,ftirrun_mmm,ftirrun_m,ftirrun_yymm
0,absorbance_Fri Mar 08 10_46_59 2024_TH-CPN-005...,0.004393,0.004496,0.004647,0.004797,0.004890,0.004878,0.004733,0.004461,0.004096,...,TH,0,CPN,2311,23,11,2024,Mar,3,2403
1,absorbance_Fri Mar 08 10_49_06 2024_TH-CPN-005...,0.004996,0.005020,0.005068,0.005098,0.005065,0.004930,0.004673,0.004306,0.003863,...,TH,0,CPN,2311,23,11,2024,Mar,3,2403
2,absorbance_Fri Mar 08 10_50_57 2024_TH-CPN-005...,0.003594,0.003403,0.003151,0.002869,0.002573,0.002268,0.001962,0.001675,0.001440,...,TH,0,CPN,2311,23,11,2024,Mar,3,2403
3,absorbance_Fri Mar 08 10_51_30 2024_TH-CPN-005...,0.004154,0.004115,0.003974,0.003771,0.003545,0.003316,0.003093,0.002885,0.002702,...,TH,0,CPN,2311,23,11,2024,Mar,3,2403
4,absorbance_Fri Mar 08 10_52_01 2024_TH-CPN-005...,0.004019,0.003930,0.003819,0.003692,0.003547,0.003379,0.003192,0.002997,0.002818,...,TH,0,CPN,2311,23,11,2024,Mar,3,2403

In [3]:
#Buat data baru tanpa kolom yang tidak diperlukan aka numerical data
data_new = data.drop(['countrycode','provincecode', 'ftirrun_mmm','samplecode','Datapoints'], axis=1)
data_new.head(11)

,3225.795591,3226.297348,3226.799261,3227.30133,3227.803556,3228.305938,3228.808476,3229.311171,3229.814022,3230.31703,...,15364.34379,15375.73322,15387.13955,countrytarget,yymm,yy,mm,ftirrun_yyyy,ftirrun_m,ftirrun_yymm
0,0.004393,0.004496,0.004647,0.004797,0.004890,0.004878,0.004733,0.004461,0.004096,0.003698,...,0.023575,0.022735,0.021611,0,2311,23,11,2024,3,2403
1,0.004996,0.005020,0.005068,0.005098,0.005065,0.004930,0.004673,0.004306,0.003863,0.003403,...,0.023180,0.023461,0.023297,0,2311,23,11,2024,3,2403
2,0.003594,0.003403,0.003151,0.002869,0.002573,0.002268,0.001962,0.001675,0.001440,0.001306,...,0.019312,0.017765,0.016203,0,2311,23,11,2024,3,2403
3,0.004154,0.004115,0.003974,0.003771,0.003545,0.003316,0.003093,0.002885,0.002702,0.002565,...,0.018057,0.017335,0.016211,0,2311,23,11,2024,3,2403
4,0.004019,0.003930,0.003819,0.003692,0.003547,0.003379,0.003192,0.002997,0.002818,0.002683,...,0.017539,0.016355,0.014635,0,2311,23,11,2024,3,2403
5,0.005993,0.005933,0.005833,0.005723,0.005619,0.005523,0.005431,0.005343,0.005266,0.005213,...,0.018037,0.016367,0.014480,0,2311,23,11,2024,3,2403
6,0.006667,0.006721,0.006703,0.006618,0.006476,0.006285,0.006056,0.005807,0.005559,0.005343,...,0.017852,0.017513,0.017265,0,2311,23,11,2024,3,2403
7,0.004406,0.004646,0.004836,0.004944,0.004959,0.004896,0.004786,0.004672,0.004588,0.004557,...,0.019729,0.020514,0.021274,0,2311,23,11,2024,3,2403
8,0.004286,0.004460,0.004598,0.004684,0.004723,0.004737,0.004761,0.004831,0.004965,0.005167,...,0.019551,0.020008,0.020181,0,2311,23,11,2024,3,2403
9,0.002489,0.002486,0.002419,0.002281,0.002076,0.001816,0.001527,0.001242,0.001000,0.000841,...,0.011408,0.014629,0.018012,0,2311,23,11,2024,3,2403
10,0.001630,0.001351,0.001165,0.001070,0.001056,0.001116,0.001242,0.001430,0.001669,0.001938,...,0.014113,0.013461,0.012719,0,2311,23,11,2024,3,2403

In [7]:
# Convert all values to numeric, coercing errors
data_new = data_new.apply(pd.to_numeric, errors='coerce')

# Drop rows with any NaN values (if applicable)
data_new = data_new.dropna()

# Check the shape of the data after cleaning
data_shape = data_new.shape
print(f"Data shape after cleaning: {data_shape}")

def apply_snv(data):
    """Apply Standard Normal Variate (SNV) transformation to the dataset."""
    # Initialize an empty list to hold the transformed data
    snv_data = []

    # Iterate over each row (spectrum) in the dataset
    for spectrum in data:
        mean = np.mean(spectrum)
        std_dev = np.std(spectrum)
        snv_spectrum = (spectrum - mean) / std_dev
        snv_data.append(snv_spectrum)
    
    # Convert the list back to a NumPy array
    return np.array(snv_data)

# Convert the DataFrame to a NumPy array
data_array = data_new.values

# Apply the SNV transformation
snv_transformed_data = apply_snv(data_array)

# Convert back to DataFrame if needed
snv_transformed_df = pd.DataFrame(snv_transformed_data, columns=data_new.columns)

# Display the transformed data
snv_transformed_df.head()

Data shape after cleaning: (1863, 3369)

,3225.795591,3226.297348,3226.799261,3227.30133,3227.803556,3228.305938,3228.808476,3229.311171,3229.814022,3230.31703,...,15364.34379,15375.73322,15387.13955,countrytarget,yymm,yy,mm,ftirrun_yyyy,ftirrun_m,ftirrun_yymm
0,-0.030549,-0.030548,-0.030546,-0.030543,-0.030542,-0.030542,-0.030544,-0.030548,-0.030554,-0.030560,...,-0.030264,-0.030276,-0.030293,-0.030615,34.377058,0.311824,0.133160,30.104015,0.014051,35.746814
1,-0.030591,-0.030591,-0.030590,-0.030589,-0.030590,-0.030592,-0.030596,-0.030601,-0.030608,-0.030615,...,-0.030320,-0.030316,-0.030318,-0.030665,34.377059,0.311774,0.133110,30.104010,0.014001,35.746817
2,-0.030467,-0.030470,-0.030474,-0.030478,-0.030483,-0.030487,-0.030492,-0.030496,-0.030499,-0.030501,...,-0.030233,-0.030256,-0.030280,-0.030521,34.377057,0.311917,0.133254,30.104026,0.014145,35.746809
3,-0.030482,-0.030483,-0.030485,-0.030488,-0.030491,-0.030495,-0.030498,-0.030501,-0.030504,-0.030506,...,-0.030275,-0.030286,-0.030303,-0.030544,34.377058,0.311894,0.133231,30.104023,0.014122,35.746811
4,-0.030499,-0.030500,-0.030502,-0.030504,-0.030506,-0.030509,-0.030511,-0.030514,-0.030517,-0.030519,...,-0.030298,-0.030315,-0.030341,-0.030559,34.377058,0.311879,0.133216,30.104022,0.014107,35.746811

In [13]:
# Drop rows with any NaN values (if applicable)
data_new = data_new.dropna()

# Check the shape of the data after cleaning
data_shape = data_new.shape
print(f"Data shape after cleaning: {data_shape}")

def apply_snv(data):
    """Apply Standard Normal Variate (SNV) transformation to the dataset."""
    # Initialize an empty list to hold the transformed data
    snv_data = []

    # Iterate over each row (spectrum) in the dataset
    for spectrum in data:
        mean = np.mean(spectrum)
        std_dev = np.std(spectrum)
        snv_spectrum = (spectrum - mean) / std_dev
        snv_data.append(snv_spectrum)
    
    # Convert the list back to a NumPy array
    return np.array(snv_data)

# Convert the DataFrame to a NumPy array
data_array = data_new.values

# Apply the SNV transformation
snv_transformed_data = apply_snv(data_array)

def apply_savgol(data, window_length=11, polyorder=2):
    """Apply Savitzky-Golay filter to the dataset."""
    return savgol_filter(data, window_length=window_length, polyorder=polyorder, axis=1)

# Apply the Savitzky-Golay filter
savgol_transformed_data = apply_savgol(snv_transformed_data)

# Convert back to DataFrame if needed
savgol_transformed_df = pd.DataFrame(savgol_transformed_data, columns=data_new.columns)

# Display the transformed data
savgol_transformed_df.head()

Data shape after cleaning: (1863, 3369)

,3225.795591,3226.297348,3226.799261,3227.30133,3227.803556,3228.305938,3228.808476,3229.311171,3229.814022,3230.31703,...,15364.34379,15375.73322,15387.13955,countrytarget,yymm,yy,mm,ftirrun_yyyy,ftirrun_m,ftirrun_yymm
0,-0.030551,-0.030547,-0.030544,-0.030543,-0.030542,-0.030543,-0.030545,-0.030549,-0.030554,-0.030559,...,0.662822,3.492094,3.013469,7.407005,7.290397,9.931085,12.941607,16.321962,20.072152,24.192174
1,-0.030592,-0.030590,-0.030589,-0.030589,-0.030590,-0.030593,-0.030597,-0.030602,-0.030608,-0.030614,...,0.662766,3.492050,3.013430,7.406974,7.290364,9.931056,12.941581,16.321939,20.072130,24.192154
2,-0.030466,-0.030470,-0.030475,-0.030479,-0.030484,-0.030487,-0.030492,-0.030496,-0.030499,-0.030501,...,0.662855,3.492122,3.013508,7.407046,7.290453,9.931141,12.941661,16.322011,20.072194,24.192207
3,-0.030480,-0.030483,-0.030486,-0.030489,-0.030492,-0.030494,-0.030498,-0.030501,-0.030504,-0.030506,...,0.662811,3.492089,3.013483,7.407028,7.290436,9.931128,12.941650,16.322002,20.072184,24.192197
4,-0.030498,-0.030500,-0.030502,-0.030505,-0.030507,-0.030509,-0.030512,-0.030514,-0.030517,-0.030518,...,0.662786,3.492068,3.013462,7.407010,7.290420,9.931114,12.941639,16.321994,20.072179,24.192195

In [12]:

from sklearn.preprocessing import MinMaxScaler  # Importing MinMaxScaler
# Convert all values to numeric, coercing errors
data_new = data_new.apply(pd.to_numeric, errors='coerce')

# Drop rows with any NaN values (if applicable)
data_new = data_new.dropna()

# Check the shape of the data after cleaning
data_shape = data_new.shape
print(f"Data shape after cleaning: {data_shape}")

def apply_snv(data):
    """Apply Standard Normal Variate (SNV) transformation to the dataset."""
    # Initialize an empty list to hold the transformed data
    snv_data = []

    # Iterate over each row (spectrum) in the dataset
    for spectrum in data:
        mean = np.mean(spectrum)
        std_dev = np.std(spectrum)
        snv_spectrum = (spectrum - mean) / std_dev
        snv_data.append(snv_spectrum)
    
    # Convert the list back to a NumPy array
    return np.array(snv_data)

# Convert the DataFrame to a NumPy array
data_array = data_new.values

# Apply the SNV transformation
snv_transformed_data = apply_snv(data_array)

def apply_savgol(data, window_length=11, polyorder=2):
    """Apply Savitzky-Golay filter to the dataset."""
    return savgol_filter(data, window_length=window_length, polyorder=polyorder, axis=1)

# Apply the Savitzky-Golay filter
savgol_transformed_data = apply_savgol(snv_transformed_data)

def apply_range_scaling(data):
    """Apply Range Scaling (Min-Max Scaling) to the dataset."""
    scaler = MinMaxScaler()
    scaled_data = scaler.fit_transform(data)
    return scaled_data

# Apply the Range Scaling
range_scaled_data = apply_range_scaling(savgol_transformed_data)

# Convert back to DataFrame if needed
range_scaled_df = pd.DataFrame(range_scaled_data, columns=data_new.columns)

# Display the transformed data
range_scaled_df.head()

Data shape after cleaning: (1863, 3369)

,3225.795591,3226.297348,3226.799261,3227.30133,3227.803556,3228.305938,3228.808476,3229.311171,3229.814022,3230.31703,...,15364.34379,15375.73322,15387.13955,countrytarget,yymm,yy,mm,ftirrun_yyyy,ftirrun_m,ftirrun_yymm
0,0.429074,0.427007,0.424558,0.421722,0.418488,0.414847,0.410123,0.405153,0.400276,0.395838,...,0.715517,0.717168,0.767272,0.760868,0.685577,0.671952,0.617286,0.316031,0.300277,0.296703
1,0.405571,0.402308,0.398699,0.394734,0.390405,0.385700,0.379776,0.373714,0.367885,0.362653,...,0.714752,0.717050,0.767219,0.760818,0.685528,0.671894,0.617159,0.315962,0.300252,0.296690
2,0.478135,0.471208,0.464710,0.458639,0.452992,0.447770,0.441810,0.436850,0.433274,0.431343,...,0.715965,0.717244,0.767324,0.760932,0.685662,0.672065,0.617551,0.316176,0.300325,0.296725
3,0.469647,0.463827,0.458317,0.453114,0.448214,0.443617,0.438300,0.433866,0.430542,0.428412,...,0.715361,0.717156,0.767290,0.760904,0.685637,0.672039,0.617498,0.316148,0.300315,0.296718
4,0.459261,0.453911,0.448822,0.443992,0.439417,0.435095,0.430156,0.425949,0.422719,0.420568,...,0.715021,0.717097,0.767262,0.760875,0.685612,0.672011,0.617443,0.316124,0.300309,0.296717